alembic
bcrypt
beautifulsoup4
boto3
botocore
bs4
click
django
dnspython
email_validator
fitz
flask
Flask-limiter
Flask-Login
Flask-Migrate
Flask-SocketIO
gunicorn
jinja2
mammoth
markdown
markupsafe
netaddr
networkx
npm
numpy
oauthlib
openpyxl
pandas
pipfreeze
pipreqs
psycopg2
psycopg2-binary
pycountry
PyYAML
regex
requests
SQLAlchemy
telemetry